<%- include('layouts/header') %>
<%- include('layouts/navbar') %>

<h1><%= title %></h1>
<div class="contact-info">
    <p><strong>Họ và tên sinh viên:</strong> Song Hiệp</p>
    <p><strong>Email:</strong> songhiep2005@gmail.com</p>
    <p><strong>Số điện thoại:</strong> 09xxxxxxx</p>
    <p><strong>Nội dung:</strong> Bài thực hành số 3 - Node.js & EJS</p>
</div>

<%- include('layouts/footer') %>