<%- include('layouts/header') %>
<%- include('layouts/navbar') %>

<h1><%= title %></h1>
<p>Chào mừng bạn đến với Website Du Lịch Việt Nam.</p>
<p>Hãy khám phá những điểm đến tuyệt vời cùng chúng tôi!</p>
<a href="/list" class="btn">Khám phá ngay</a>

<%- include('layouts/footer') %>